/* Navigation bar */

nav {
  display: flex;
  background-color: #D72483;
  align-items: center;
  padding: 30px 20px;
  border-radius: 3px 3px 0 0;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

#nav-submit, #nav-favs, #nav-stories{
  border-left: solid white 1px;
  padding: 0px 0px 0px 10px;
  text-align: center;
}
