/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: #2F2D2E;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 7px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  display: block;
  margin: 7px 0px;
  color: #792359;
}

.story-user {
  display: block;
  margin: 7px 0px;
  color: #0496FF;
}

.favorite, .delete, .edit {
  cursor: pointer;
}

.story-container {
  display: grid;
  grid-template-columns: 20px 1fr;
}

.my-story-container{
  display: grid;
  grid-template-columns: 60px 1fr;
}

.one {
  grid-column: 1 / 2;
}

.two {
  grid-column: 2 / 2;
}